<app-header></app-header>
<div>
  <div class="container">
    <div class="row">
      <div class="col-12 container login-container">
        <div class="row">
          <div class="col-12">
            <h1 class="login-layout">Login</h1>
          </div>
        </div>
        <div class="row login-input">
          <div class="col-12">
            <input class="form-control text-input" type="text" placeholder="Username" autofocus [(ngModel)]="username">
          </div>
        </div>
        <div class="row login-input">
          <div class="col-12">
            <input class="form-control text-input" type="password" placeholder="Password" [(ngModel)]="password">
          </div>
        </div>
        <div class="row login-submit">
            <button class="btn btn-primary" (click)="login(username, password)">Submit</button>
        </div>
      </div>
    </div>
  </div>
