<app-header></app-header>
<div class="details-container">
  <div class="container-fluid">
    <div class="row">
      <a href="items" class="back-link"> &laquo; Back to search results</a>
    </div>
  </div>
  <div class="item-details container">
    <div class="row">
      <div class="col-md-6">
        <div classs="image-wrapper">
          <img class="item-image img-fluid" src={{item.itemUrl}} alt="{{item.description}}">
        </div>
      </div>
      <div class="cols-md-6">
        <div class="col">
          <label class="item-description">{{item.description}}</label>
        </div>
        <div class="col">
          <label class="item-tags">{{item.tags}}</label>
        </div>
        <div class="col">
          <label class="item-price-label">This image price is:</label>
        </div>
        <div class="col">
          <!-- <label class="item-price">{{item.price | number: '1.2-2'}} PMA </label> -->
          <label class="item-purchased">Purchased</label>
        </div>
        <div class="col">
          <div class="border border-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <label class="warning-message">* Warning. This image going to dissapear when you'll leave this site.
              <br> &nbsp;&nbsp; Send link to your email to save this image for later access.
            </label>
          </div>
        </div>
        <div class="col">
          <!-- <button class="btn btn-primary" data-toggle="modal" (click)="openPurchaseOptionsModal()">Buy with one click</button> -->
          <button class="btn btn-primary download-image">Download image</button>
        </div>
      </div>
      <div class="item-info col-md-6">
        <div class="col">
          <label class="plain-text">Largest size:
            <span class="value-color">{{item.size}} </span>
          </label>
        </div>
        <div class="col">
          <label class="plain-text">Photo number ID:
            <span class="value-color">{{item.itemID}}</span>
          </label>
        </div>
        <div class="col">
          <label class="plain-text">Uploaded:
            <span class="value-color">{{item.uploadedDate | date }}</span>
          </label>
        </div>
      </div>
      <div class="item-info col-md-6">
        <div class="col">
          <label class="plain-text">Licence:
            <span class="value-color">{{item.licence}}</span>
            <a href="" class="extended-link">Make Extented</a>
          </label>
        </div>
        <div class="col">
          <label class="plain-text">Credit:
            <label class="value-color">{{item.ownerID}}</label>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-purchase-options #purchaseOptionModal [itemPrice]="item.price"></app-purchase-options>
