img {
    height: 204px;
    width: 316px;
    border-radius: 8px;
  }

  .description{
      font-size: 26px;
      letter-spacing: -1%;
      color: black;
      font-family: Heebo;
      margin-bottom: 0;
  }

  .tags{
    font-size: 14px;
    color: #9C9C9C;
    font-family: Heebo;
    margin-bottom: 1;
  }

  .imagePrice{
    font-size: 16px;
    color: black;
    font-family: Heebo;
    margin-bottom: 0;
  }

  .actualPrice{
    font-size: 36px;
    color: #1E69F5;
    font-family: Heebo;
    margin-bottom: 0;
  }

  .plainText{
    font-size: 14px;
    color:#757575;
    font-family: Heebo;
  }

  .extendedLink{
      font-size: 14px; 
  }

  .backLink{
    color: #9C9C9C;
    font-family: Heebo;
    margin-left: 15px;
}

.row-bottom-margin {
  margin:0px !important; 
}

@media (min-width: 1200px){
  .row-center{
  margin-left:130px;
}
}
