.details-container {
  padding: 15px;
}

.back-link {
  color: #9c9c9c;
  font-family: Heebo;
  margin-left: 15px;
}

.item-image {
  height: 241px;
  width: 100%;
  border-radius: 8px;
}

.item-description {
  font-size: 26px;
  letter-spacing: -1%;
  color: black;
  font-family: Heebo;
  margin-bottom: 0px;
}

.item-tags {
  font-size: 14px;
  color: #9c9c9c;
  font-family: Heebo;
  margin-bottom: 10px;
}

.item-price-label {
  font-size: 16px;
  color: black;
  font-family: Heebo;
  margin-bottom: 0px;
  margin-top: 30px;
}

.item-price {
  font-size: 36px;
  color: #1e69f5;
  font-family: Heebo;
  margin-bottom: 22px;
}

.plain-text {
  font-size: 14px;
  color: #353535;
  font-family: Heebo;
}

.value-color {
  color: #9c9c9c;
  font-size: 14px;
  font-family: Heebo;
}

.extended-link {
  font-size: 12px;
}
.item-info {
  padding: 10px;
}

/*Modal size*/
.modal-dialog {
  height: auto;
  max-width: 1000px;
  margin: auto;
  border-radius: 15px;
}

.modal-credits {
  color: black;
  font-size: 16px;
  font-family: Heebo;
}

.modal-description {
  font-family: Heebo;
  font-size: 26px;
  color: black;
  text-align: center;
}

.modal-scan-qr {
  font-family: Heebo;
  font-size: 16px;
  color: black;
  text-align: center;
}

.modal-link {
  font-family: Heebo;
  font-size: 14px;
  color: #9c9c9c;
  text-align: center;
  margin-top: 15px;
  /* margin-bottom: -10px; */
}

.title-name {
  color: #1e69f5;
  font-size: 36px;
  font-family: Heebo;
  margin-bottom: 10px;
}

/*Styles the modal(border,background etc) */
.options-modal {
  background-color: rgba(0, 0, 0, 0.15);
  align-content: center;
  border-radius: 15px;
}

.modal-header {
  border: 0px;
  text-align: center;
  object-position: center;
}

.options-container {
  border-radius: 15px;
  border: 1px white solid;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  offset-block-end: 0px, 5px;
  margin: 14px;
  max-width: 680px;
  height: 420px;
  border-radius: 15px;
  overflow: auto;
  padding: 0px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.option-picture {
  width: 70px;
  height: 65px;
}

.image-container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.app-store-apple {
  height: 35px;
  width: 105px;
  margin-bottom: 15px;
}

.app-store-google {
  height: 52px;
  width: 120px;
  margin-bottom: 15px;
}

.download-option-image {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  right: 35px;
  top: 8px;
}

.modal-show-code {
  margin-top: 15px;
  margin-bottom: 20px;
}
