a{
    color:black;
    font-family: sans-serif;
}

div{
    background-color:#FFFFFF;
}

img {
    border-radius: 50%;
}

label{
    margin-left: 15px;
    color: #9C9C9C;
    font-family: sans-serif;
}

