<nav class="navbar navbar-default">
  <div class="header-div-color container-fluid">
    <div class="header-div-color navbar-brand">
      <img class="header-image img-responsive" src="/assets/images/logo.png" alt="Logo">
      <label class="label-header">Pumapay</label>
    </div>
    <div class="header-div-color" *ngIf="this.user === null">
      <ul class="nav navbar-right">
        <a routerLink="/login" routerLinkActive="active" class="header-login">Login</a>&nbsp;/&nbsp;
        <a routerLink="/signUp" routerLinkActive="active" class="header-login">Sign up</a>
      </ul>
    </div>
    <div class="header-div-color" *ngIf="this.user !== null">
      <ul class="nav navbar-right">
        <a class="header-login username-container" href="">{{user.userName }}</a>&nbsp;&nbsp;/&nbsp;&nbsp;
        <label class="header-login" href="">Credits: {{user.credits | number: '1.2-2'}} PMA -
          <span>
            <a class="get-more-link" data-toggle="modal" (click)="showCreditModal()">Get more</a>&nbsp;/&nbsp;
          </span>
        </label>
        <span>
          <a class="logout-container" routerLink="/login" (click)="callLogoutFunction()">Logout</a>
        </span>
      </ul>
    </div>
  </div>
</nav>
<app-purchase-packages #purchasePackages></app-purchase-packages>
