<nav class="navbar navbar-default">
  <div class="header-div-color container-fluid">
    <div class="header-div-color navbar-brand">
      <img class="header-image img-responsive" src="/assets/images/logo.png" alt="Logo">
      <label class="label-header">Pumapay</label>
    </div>
    <div class="header-div-color">
      <ul class="nav navbar-right">
        <a class="header-login" href="login">Login</a>&nbsp;/&nbsp;
        <a class="header-login" href="login">Sign up</a>
      </ul>
    </div>
  </div>
</nav>
