<app-header></app-header>
<div class="acount-details-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <label class="title-label"></label>
        <label class="subtitle-label"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">

          </div>
          <div class="row">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
</div>
