<ng-template #paymentWalletModal let-d="dismiss" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content options-modal">
      <div class="container modal-header">
        <div class="row close-button">
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row col-md-12">
          <div class="col-lg-12">
            <label class="modal-credits">You choose
              <b> PumaPay</b> tokens.</label>
            <!-- {{item.price | number: '1.2-2'}} -->
          </div>
          <div class="col-lg-12">
            <label class="title-name">Scan to complete your purchase</label>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container transaction-tool">
          <div class="row">
            <div class="container options-container col-md">
              <div class="col">
                <div class="container image-container-modal">
                  <img class="option-picture " src="../../../../../assets/images/pumapay-qr.PNG" alt="">
                </div>
              </div>
              <div class="col modal-scan-qr">
                <label>Scan a QR code with the app to complete the transaction.</label>
              </div>
              <div class="col modal-link">
                <label>Don't have PumaPay wallet?</label>
              </div>
              <div class="col">
                <div class="container download-option-image col-sm-12">
                  <a href="https://itunes.apple.com/us/genre/ios/id36?mt=8">
                    <img class="app-store-apple" src="../../../assets/images/app-store.png">
                  </a>
                  <a href="https://play.google.com/store?hl=en">
                    <img class="app-store-google" src="../../../assets/images/google-play-badge.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container transaction-progress-container">
                <div class="row">
                  <div class="container transaction-progress" #transactionRequest [ngClass]="{'inactiveBackgroundColor': activeRequest == false}">
                    <div class="row">
                      <div class="col-sm-9">
                        <label class="transaction-text" [ngClass]="{'transaction-text-inactive': activeRequest == false}">Sending transaction request</label>
                        <div class="span status" *ngIf="activeRequest == false">Waiting</div>
                        <div class="span status" *ngIf="activeRequest == true && activeResponse == false">In Progress...</div>
                        <div class="span status" *ngIf="activeRequest == true && activeResponse == true">Complete</div>
                      </div>
                      <div class="col-sm-3">
                        <app-loading-spinner #transactionRequestSpinner *ngIf="activeRequest == true && activeResponse == false"></app-loading-spinner>
                        <label class="numberLayout" *ngIf="activeRequest == false">1</label>
                        <img src="../../../../../assets/images/success-btn.png" class="imageSize" *ngIf="activeRequest == true && activeResponse == true">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="container transaction-progress" #transactionResponse [ngClass]="{'inactiveBackgroundColor': activeResponse == false}">
                    <div class="row">
                      <div class="col-md-9">
                        <label class="transaction-text" [ngClass]="{'transaction-text-inactive': activeResponse == false}">Transaction response</label>
                        <div class="span status" *ngIf="activeResponse == false">Waiting</div>
                        <div class="span status" *ngIf="activeResponse == true && activeStatus == false">In Progress...</div>
                        <div class="span status" *ngIf="activeResponse == true && activeStatus == true">Complete</div>
                      </div>
                      <div class="col-md-3">
                        <app-loading-spinner #transactionResponseSpinner *ngIf="activeResponse == true && activeStatus == false"></app-loading-spinner>
                        <label class="numberLayout" *ngIf="activeResponse == false">2</label>
                        <img src="../../../../../assets/images/success-btn.png" class="imageSize" *ngIf="activeResponse == true && activeStatus == true">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="container transaction-progress" #transactionStatus [ngClass]="{'inactiveBackgroundColor': activeStatus == false, 'border border-success rounded': activeStatus == true && disableElements == null} ">
                    <div class="row">
                      <div class="col-md-9">
                        <label class="transaction-text" [ngClass]="{'transaction-text-inactive': activeStatus == false}">Transaction status</label>
                        <div class="span status" *ngIf="activeStatus == false">Waiting</div>
                        <div class="span status" *ngIf="activeStatus == true && disableElements == true">In Progress...</div>
                        <div class="span status" *ngIf="activeStatus == true && disableElements == null">Transation has been approved!</div>
                        <!-- <div class="span status" *ngIf="activeStatus == true && disableElements == null">Transation was failed.Try again.</div> -->
                      </div>
                      <div class="col-md-3">
                        <app-loading-spinner #transactionStatusSpinner *ngIf="activeStatus == true && disableElements == true"></app-loading-spinner>
                        <label class="numberLayout" *ngIf="activeStatus == false">3</label>
                        <img src="../../../../../assets/images/success-btn.png" class="imageSize" *ngIf="activeStatus == true && disableElements == null">
                        <!-- <img src="../../../../../assets/images/fail-btn.png" class="imageSize" *ngIf="activeStatus == true"> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-outline-primary btn-layout" disabled="{{disableElements}}">See your balance</button>
                    </div>
                    <div class="row-6">
                      <button class="btn btn-outline-primary btn-layout" (click)="d()" disabled="{{disableElements}}">Back to image</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>