<app-header></app-header>
<div>
  <div class="container">
    <div class="row">
      <div class="col-12 container sign-up-container">
        <div class="row">
          <div class="col-12 sign-up-layout">
            <h1>Sign up now for free</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 description">
            <label>
              Be part of the largest award-winning webcam
              <br> community on the web!</label>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <input class="form-control text-input" type="email" placeholder="Email" autofocus>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <input class="form-control text-input" type="username" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="form-group">
        <div class="row">
          <div class="col-12">
            <input class="form-control text-input" type="password" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 aggrement-layout">
          <label class="terms-text">By clicking on the "Sign up" button below, you confirm
            <br>your registration and agree to all of the
            <a class="terms" href="/signUp">
              <u>Terms of use</u>
            </a>.
          </label>
        </div>
      </div>
      <div class="row ">
        <button class="btn btn-primary sign-up-btn">Sign Up</button>
      </div>
      <div class="row">
        <div class="col-12 login-link">
          <label login-text>Already a member?
            <a class="member" href="">
              <u>Login</u>
            </a>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>